*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
}
.menu{
    display: flex;
    background-color:black;
    width: 90%;
    margin: 10px auto;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.menu .logo{
    color: white;
    background-color: black;
    font-size: 25px;
}
.topmenu{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    justify-content: space-evenly ;
    padding-bottom: 3px;
}
.menu a.active, .menu a.active:hover{
    background-image: none;
    border-bottom: 1px solid white;
    background-color: black;
    }
    .menu a:hover{
        background-image: linear-gradient(rgb(0, 0, 0), rgb(53, 53, 53));
    }
/* Forside */
.hoved{
    display: flex;
    justify-content: space-around;
}
.fornavn{
    color: white;
    padding: 50px;
    font-size: 70px;
}
/* Om */
    .broed{
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        justify-content: space-between;
        display: flex;
        color: white;
    }
    .ommig{
        font-size: 26px;
        width: 450px;
    }
/* showcase */
.showcase{
    margin-top: 55px;
    background-image: url(background_img.JPG.jpg);
}
.showcase a{
    text-decoration: none;
    display: block;
    color: white;    
    font-size: 50px;
    margin: 40px;
    margin-left: 50px;
}
.showcase a:hover{
    background-color: black;
    background-image: linear-gradient(to right, rgb(29, 29, 29) , #000)
}
/* Kontakt */
.kontakt{
    display: block;
    padding: 30px 20px 20px 60px;
    font-size: 25px;
    color: white;
    justify-content: space-between;
}
.kontakt input{
    color: white;
    display: block;
    width: 400px;
    height: 30px;
    border-radius: 2px;
    background-color: black;
    border: solid 1px;
    padding-left: 2px;
}
.kontakt button{
    background-image: linear-gradient(#333, #000);
}
.kontakt label{
    color: white;
    display: block;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 2px;
    border: 2px;
}
.kontakt textarea{
    color: white;
    padding-left: 2px;
    border-radius: 2px;
}
.kontakt input[type="buttom"]{
    width: 40px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    padding: 1px 6px;
    border-color: (#000 #000);
    border: solid 0.5px;
    font-size: 15px;
}
.showcase{
    color: white;
}
.semestreover{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}
.semestre{
    display: flex;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 15px;
}
.semestre a{
    color: white;
    text-decoration: none;
}
.soon{
    text-align: center;
    color: white;
    margin-top: 0px;
    font-size: 30px;
    margin-bottom: 300px;
}
.arbejde{
    display: flex;
    color: white;
    text-align: center;
    margin-top: 80px;
    justify-content: space-evenly;
}
.video{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.background{
    background-image: url(/video.JPG);
}
.billeder{
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
.flow.sem{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.footer_show{
    display: flex;
    justify-content: space-evenly;
}
.footer_show a{
    text-decoration: none;
    color: white;
    margin-top: 70px;
    border: 1px solid white;
    padding: 3px;
}
.footer_show a:hover{
    background-color: black;
    background-image: linear-gradient(rgb(0, 0, 0) , rgb(80, 79, 79))
}
.pb{
    margin-right: 30px;
    width:30%;
    height:24%;
}
.multimediedesigner{
    color: white;
    margin-left: 845px;
    font-size: 38px;
    margin-top: -38px;
}
.vid{
    margin-left: 350px;
}
.ralogo{
    width:5%;
    height:5%;
}
.et{
    width:15%;
    height:20%;
}
.to{
    width:20%;
    height:40%;
}
.tre{
    width:20%;
    height:40%;
}
.fire{
    width:23%;
    height:40%;
}
.fem{
    width:23%;
    height:90%;
}
.seks{
    width:23%;
    height:90%;
}
.syv{
    width:23%;
    height:90%;
}
.otte{
    width:23%;
    height:90%;
}
.ni{
    width:25%;
    height:90%;
}
.ti{
    width:25%;
    height:90%;
}
.elleve{
    width:25%;
    height:90%;
}